#Python virtual environment
.venv/
venv/
env/

#Python cache files
pycache/
*.pyc
*.pyo
*.pyd

#Development database
db.sqlite3
*.sqlite3

#IDE-specific files (PyCharm)
.idea/

#Environment configuration files
.env
*.env

#Operating system files
.DS_Store
Thumbs.db

#Static and media files
/staticfiles/
/media/

#Logs
*.log